
body {
	font-family: 'Hind', sans-serif;
	background-color: #f8e24d;
}

a:hover {
	text-decoration:none;
}

.text{
	padding: 40px;
}
/*   ------- Header & Navbar  ---------- */
.header-bar {
    background-color: #f8e24d;
    color: #fff;
}

.navbar-toggle {
	margin-top: -20px;
	padding:0px;
	padding-right: 10px;
}

.title-name a {
    font-size: 36px;
    font-weight: 700;
	color: #fff;
}

.title-tag {
    font-size: 22px;
    font-weight: 500;
	margin-top:-7px;
	padding-bottom:5px;
}

@media screen and (max-width: 768px) {
	.title-name a{
  	  	font-size: 32px;
	}
	.title-tag {
		font-size: 18px;
		margin-top:-9px;
		padding-bottom:3px;
	}
	
}

.header-social{
	padding-top:15px;
}


.title-email{
    padding-bottom: 7px;
}

.title-email a {
	color: #fff;
    font-size: 24px;
    font-weight: 300;
	margin-bottom: 5px;
}


.title-email img {
    margin-top: -7px;
    margin-right: 10px;
}
.title-links a {
	color:#fff;
    font-size: 16px;
    font-weight: 300;
	padding-right: 15px;
}

.title-links img{
	margin-top: -7px;
}

/* Menu Style */


.navbar-nav li{
	padding: 15px;
}

.menu-items-light{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #778899;
}

.menu-items-dark{
	padding-top: 15px;
	background-color: #2F4F4F;
}

.menu-items-light a , .menu-items-dark a  {
	font-size: 22px;
	color: #fff;
	margin: 15px;
}

.img-display img{
	width: 100%;
	max-width: 1000px;
    display:block;
    margin:auto;
}
 
/*------ Home Page Intro  ------*/
.home-intro-wrapper{
	background-color: black;
}

.home-intro{
	color: white;
}

.home-intro img{
    display: block;
    margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

@media screen and (min-width: 768px) {
	.home-intro {
		font-size: 20px;
	}
	}


	

/* ---- Home Page Buttons ----- */

.home-tools-section , .home-client-section , .home-research-section , .home-graphic-section {
	padding: 30px;
	text-align: center;
}
.home-tools-section{
	background-color: 	#2F4F4F;
}

.home-client-section{
	background-color: 	#778899;
}

.home-research-section{
	background-color: 	#2F4F4F
	;
}

.home-graphic-section{
	background-color: 	#778899;
}





.home-section-title {
	font-size: 32px;
	background-color: #fff;	
	/* padding-left: 10px;
	padding-right: 10px; */
	color: black;
	
}


.home-section-description
{
	background-color: black;
	color: white;
}

@media screen and (min-width: 1200px) {
	.home-section-title {
	font-size: 24px;
	}
}

	@media screen and (min-width: 1450px) {
		.home-section-title {
		font-size: 32px;
		}
}



