
body {
	font-family: 'Hind', sans-serif;
	background-color: #f8e24d;
}

a:hover {
	text-decoration:none;
}

h5{
	font-size: 18px;
}

.wrapper{
	background-color: #F5F5F5;
	padding: 35px;
}

.text{
	padding: 40px;

}
/*   ------- Header & Navbar  ---------- */
.header-bar {
    background-color: #f8e24d;
    color: #fff;
}

.navbar-toggle {
	margin-top: -20px;
	padding:0px;
	padding-right: 10px;
}

.title-name a {
    font-size: 36px;
    font-weight: 700;
	color: #fff;
}

.title-tag {
    font-size: 22px;
    font-weight: 500;
	margin-top:-7px;
	padding-bottom:5px;
}

@media screen and (max-width: 768px) {
	.title-name a{
  	  	font-size: 32px;
	}
	.title-tag {
		font-size: 18px;
		margin-top:-9px;
		padding-bottom:3px;
	}
	
}

@media screen and (max-width: 420px) {
	.title-name a{
  	  	font-size: 27px;
	}
	.title-tag {
		font-size: 18px;
		margin-top:-9px;
		padding-bottom:3px;
	}
	
}

.header-social{
	padding-top:15px;
}


.title-email{
    padding-bottom: 7px;
}

.title-email a {
	color: #fff;
    font-size: 24px;
    font-weight: 300;
	margin-bottom: 5px;
}


.title-email img {
    margin-top: -7px;
    margin-right: 10px;
}
.title-links a {
	color:#fff;
    font-size: 16px;
    font-weight: 300;
	padding-right: 30px;
}

.title-links{
	padding:10px;
	padding-left:0px;
}

.title-links img{
	margin-top: -7px;
}


/* Menu Style */


.navbar-nav li{
	padding: 15px;
}

.menu-items-light{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #778899;
}

.menu-items-dark{
	padding-top: 15px;
	background-color: #2F4F4F;
}

.menu-items-light a , .menu-items-dark a  {
	font-size: 22px;
	color: #fff;
	margin: 15px;
}


 
/*------ Home Page Intro  ------*/
.home-intro-wrapper{
	background-color: black;
}

.home-intro{
	color: white;
}

.home-intro img{
    display: block;
    margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

@media screen and (min-width: 768px) {
	.home-intro {
		font-size: 20px;
	}
	}


	

/* ---- Home Page Buttons ----- */

.home-tools-section , .home-client-section  , .home-graphic-section {
	padding: 30px;
	text-align: left;
}
.home-tools-section{
	background-color: 	#2F4F4F;
	
}

.home-client-section{

	background-color: 	#778899;
}

/*
.home-research-section{
	background-color: 	#2F4F4F
	;
} */

.home-graphic-section{

	background-color: 	#778899;
}

@media screen and (min-width: 992px) {
	.home-tools-section{
		text-align: center;
	}


}



.home-section-title {
	font-size: 32px;
	color: white;
	
}


.home-section-description
{

	color: white;
	font-weight: 100;
}



@media screen and (min-width: 1200px) {
	.home-section-title {
	font-size: 24px;
	}

	.graphic , .client {
		text-align: right;
		}
}

	@media screen and (min-width: 1450px) {
		.home-section-title {
		font-size: 32px;
		}
}

.section-images img{
	max-width: 100%;
	padding: 30px;
}

/*-------- page style ---------------*/
.section-text{
padding: 30px;
}

.key-item{
	padding-bottom: 20px;
}
 .section-key{
	padding: 30px;
	padding-bottom:0px;
	background-color:   #f8e24d;
 }

 .section-title{
	 padding-left:30px;
 }

 .section-images{
	 padding-bottom: 45px;
 }

 .img-display img{
	width: 100%;
	max-width: 1000px;
    display:block;
    margin:auto;
}

 .img-description{
	background-color:   #f8e24d;
	padding: 10px;
	margin-bottom: 30px;
 }

 .skills{
	padding: 60px;
	padding-bottom: 0px;
 }

 .yellow-button{
	background-color:   #f8e24d;
	margin: 30px;
	Padding: 30px;
	border: 5px dotted #000;
	font-size: 33px;
	text-align: center;
 }

.download a {
	font-weight: 500;
	color:black;
 }

 .organizations{
	 background-color: white;
 }

 .organizations h4{
	 padding: 30px;
 }

 .logo{
	 text-align: center;
 }
 .logo img{
	 max-width: 100%;
	 padding: 15px;
 }



 